/* header style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 120px 32px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__logo {
  width: 228px;
  height: 39px;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.header__nav-list-item-link {
  text-decoration: none;
  color: #192252;
}
.button {
  text-decoration: none;
  padding: 14px 16px;
  color: #fff;
  background-color: #192252;
  border-radius: 5px;
}
/* first section style*/
.first__section {
  padding: 80px 120px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  column-gap: 24px;
}
.first__section-box {
  align-self: center;
}
.first__section-box-title {
  color: #192252;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px;
}
.first__section-box-text {
  max-width: 490px;
  margin-bottom: 60px;
}
.box__img {
  width: 180px;
  height: 588px;
  flex-shrink: 0;
}
.first__section-box-img {
  display: flex;
  gap: 24px;
}
.first-section {
  background-image: url(/images/First\ image.jpg);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: left 80%;
}
.second-section {
  background-image: url(/images/First\ image.jpg);
  background-size: 320%;
  background-position: center 135%;
  background-repeat: no-repeat;
  margin-top: 80px;
}
.third-section {
  background-image: url(/images/First\ image.jpg);
  background-size: 300%;
  background-position: right 80%;
  background-repeat: no-repeat;
}
/* about section style */
.about__section {
  padding: 80px 226px 80px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 126px;
}
.about__section-box {
  align-self: center;
}
.about__section-box-title {
  color: #192252;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.36px;
  margin-bottom: 26px;
}
.about__section-box-text {
  min-width: 584px;
  margin-bottom: 38px;
}
/* benefit style start */
.benefit {
  padding: 80px 226px 80px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefit__text-box {
  align-self: center;
}
.benefit__box {
  display: grid;
  grid-template-columns: 1fr 384px;
  grid-template-rows: 1fr;
  column-gap: 126px;
}
.benefit__box:nth-child(2n) {
  grid-template-columns: 384px 1fr;
}
.benefit__box:nth-child(2n) .benefit__img {
  grid-row: 1;
}
.benefit__title {
  color: #192252;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.36px;
}
.benefit__text {
  max-width: 584px;
}
/* interior style start */
.interiors {
  padding-top: 80px;
}
.interiors__title {
  color: #192252;
  text-align: center;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.36px;
  padding-bottom: 38px;
}
.interiors__box {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 194px);
}
.interiors__content {
  width: 100%;
  height: 100%;
}
.interiors__img-box:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}
.interiors__img-box:nth-child(2) {
  grid-column: 4 / span 5;
  grid-row: -4 / span -3;
}
.interiors__img-box:nth-child(3) {
  grid-column: 4 / span 5;
  grid-row: -3 / span -2;
}
.interiors__img-box:nth-child(4) {
  grid-column: 4 / span 5;
  grid-row: -2 / span -1;
}
/* reservation style start */
.reservation {
  padding: 80px 120px;
}
.reservation__text {
  text-align: center;
  padding-bottom: 88px;
}
.reservation__title {
  color: #192252;
  text-align: center;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}
.reservation__title-text {
  max-width: 590px;
  margin: 0 auto 32px;
}
.button__reservation {
  padding: 16px 32px;
}
.reservation__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.reservation__card-list-item {
  width: 384px;
  flex-grow: 1;
  min-height: 720px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card__title {
  color: #000;
  text-align: left;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
}
.card__link {
  justify-self: end;
}
.card__img {
  margin-bottom: 32px;
}
